@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container-fluid mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-8">
            <div class="d-flex justify-content-between ">
                <h1 class="fw-bold text-start color">&nbsp;User List</h1>
                <a class="btn btn-primary rounded rounded-circle"><i class="fa fa-plus"></i> </a>
            </div>

        </div>
    </div>



    <div class="row d-flex justify-content-center mt-5">

        <div class="col-8">
            <table class="table table-hover table-striped border border-light rounded shadow">
                <thead class="border border-light rounded-1">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
      </div>
</div>
