@using DominicanBanking.Core.Application.ViewModel.Payment
@model SavePaymentViewModel

@{
    ViewData["Title"] = "Express Payment";
}

<div class="row d-flex justify-content-center mt-5">
    <div class="col-4">
        <div class="card card-border">
            <div class="card-body">
                <h3 class="card-title">Express Payment</h3>
                <form method="post" asp-action="Express" asp-controller="Payment">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="form-label">From:</label>
                            <select class="form-control" asp-items="ViewBag.Account" asp-for="IdentifyNumberFrom" required>
                                <option value="">Select an Account</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-label">To:</label>
                            <input class="form-control" asp-for="IdentifyNumberTo"/>
                            <span asp-validation-for="IdentifyNumberTo" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="form-label">Amount:</label>
                            <input type="number" step="any" class="form-control" asp-for="Amount"/>
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-success w-100">Pay</button>
                                <a asp-action="Client" asp-controller="Home" class="btn btn-warning w-100">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

