@using DominicanBanking.Core.Application.ViewModel.Question

@model QuestionViewModel

@{
}

<div class="container-fluid">

    <div class="row d-flex justify-content-center mt-5">
<div class="col-md-3">
            <div class="card card-border">
            <div class="card-body">
                <h3 class="card-title fw-bold">Answer the question</h3>
                <h4 class="text-center">Are you sure want to pay to @Model.FullName? </h4>
                <h6 class="text-center">with the account number @Model.IdentifyNumberTo</h6>
                <form asp-action="QuestionExpress" asp-controller="Payment">
                    <input asp-for="IdentifyNumberFrom" type="hidden" />
                    <input asp-for="IdentifyNumberTo" type="hidden" />
                    <input asp-for="Amount" type="hidden" />
                    <input asp-for="UserId" type="hidden" />
                    <input asp-for="TypeId" type="hidden" />

                    <button type="submit" class="btn btn-primary w-100 text-center">Accept</button>
                    <a asp-action="Client" asp-controller="Home" class="btn btn-warning w-100">Cancel</a>
                </form>
            </div>
        </div>
</div>
    </div>

</div>
